  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title size="large">Riepilogo Consumi  </ion-title>
        <ion-img slot="start" src="../../assets/2ijFVSCUf2QwxDHK5fsmK9tLTXN.svg" class="logo-full" alt="mylogo"></ion-img>
        <ion-img slot="end" src="../../assets/logo ENERTECH Bianco.png" class="logo-full" alt="mylogo"></ion-img>
      </ion-toolbar>
    </ion-header>


  <div>
    <ion-grid class="grid">


      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>MENU</ion-card-title>
              <ion-card-subtitle>Seleziona periodo e dati</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-card>
                            <ion-card-header>
                              <ion-label>------ Mese di Inizio -------</ion-label>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-datetime-button datetime="date1"></ion-datetime-button>
                                <ion-modal [keepContentsMounted]="true">
                                  <ng-template>
                                    <ion-datetime presentation="date" isDateEnabled="existData" id="date1" (ionChange)="startDateChanged($event)"></ion-datetime>
                                    <div id="startDatetimeValue"></div>
                                  </ng-template>
                                </ion-modal>
                            </ion-card-content>
                          </ion-card>
                        </ion-col> 
                        
                        <ion-col>
                          <ion-card>
                            <ion-card-header>
                              <ion-label>------ Mese di Fine -------</ion-label>
                            </ion-card-header>
                            <ion-card-content>
                              <ion-datetime-button datetime="date2"></ion-datetime-button>
                              <ion-modal [keepContentsMounted]="true">
                                <ng-template>
                                  <ion-datetime presentation="date" id="date2" (ionChange)="endDateChanged($event)"></ion-datetime>
                                  <div id="endDatetimeValue"></div>
                                </ng-template>
                              </ion-modal>
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                        <ion-row>
                          <ion-col>
                            <ion-button (click)="selectDate()">SELEZIONA PERIODO</ion-button>
                          </ion-col>
                        </ion-row>

                        </ion-row>
                      </ion-grid>
                  </ion-col>
                  <ion-col>
                  <ion-item-divider color="light">
                    <ion-label> DATI </ion-label>
                  </ion-item-divider>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox>
                                KW
                              </ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox>
                                P
                              </ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox>
                                KVAr
                              </ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox>
                                KVA
                              </ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox>
                                A
                              </ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                      <ion-item-divider color="light">
                        <ion-label> QUADRI </ion-label>
                      </ion-item-divider>
                      <ion-row>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox> TR1</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> TR2</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> FV</ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox> BLINDO 1</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> BLINDO 2</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> BLINDO 3</ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card *ngIf="data">
            <ion-card-header>
              <ion-card-title>GRAFICI CORRENTE ( A ) E TENSIONE ( V )</ion-card-title>
              <ion-card-subtitle>Grafici che mostrano la corrente e la tenasione del periodo e degli apparecchi selezionati</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item-divider color="light">
                  <ion-label> TENSIONE </ion-label>
                </ion-item-divider>
                <ion-item>
                    <chart-container data="data"></chart-container>
                </ion-item>
                <ion-item-divider color="light">
                  <ion-label> CORRENTE </ion-label>
                </ion-item-divider>
                <ion-item>
                  <chart-container *ngIf="data"></chart-container>
                </ion-item>
            </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-card id="KW" *ngIf="data">
            <ion-card-header>
              <ion-card-title>GRAFICO POTENZA ATTIVA ( kW )</ion-card-title>
              <ion-card-subtitle>
                Grafico che mostra la potenza attiva del periodo e degli apparecchi
                selezionati
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item>
                <chart-container *ngIf="data"></chart-container>
              </ion-item>
            </ion-card-content>
          </ion-card>
      </ion-row>
      <ion-row>
          <ion-card *ngIf="data">
          <ion-card-header>
            <ion-card-title>GRAFICO POTENZA REATTIVA ( kVA )</ion-card-title>
            <ion-card-subtitle>
              Grafico che mostra la potenza reattiva del periodo e degli apparecchi selezionati
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <chart-container *ngIf="data"></chart-container>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card *ngIf="data">
            <ion-card-header>
              <ion-card-title>GRAFICO POTENZA APPARENTE ( kVar )</ion-card-title>
              <ion-card-subtitle>
                Grafico che mostra la potenza apperente del periodo e degli apparecchi
                selezionati
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item>
                <chart-container *ngIf="data"></chart-container>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card *ngIf="data">
            <ion-card-header>
              <ion-card-title>GRAFICO CosFi ( φ )</ion-card-title>
              <ion-card-subtitle>
                Grafico che mostra la ampere del periodo e degli apparecchi
                selezionati
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item>
                <chart-container *ngIf="data" events="events1"></chart-container>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
