  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title size="large">Riepilogo Consumi</ion-title>
      </ion-toolbar>
    </ion-header>


  <div>
    <ion-grid class="grid">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>MENU</ion-card-title>
              <ion-card-subtitle>Seleziona periodo e dati</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-datetime presentation="date" [multiple]="true" ></ion-datetime>                  
                  </ion-col>
                  <ion-col>
                  <ion-item-divider color="light">
                    <ion-label> DATI </ion-label>
                  </ion-item-divider>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox>
                                KW
                              </ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox>
                                P
                              </ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox>
                                KVAr
                              </ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox>
                                KVA
                              </ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox>
                                A
                              </ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                      <ion-item-divider color="light">
                        <ion-label> QUADRI </ion-label>
                      </ion-item-divider>
                      <ion-row>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox> TR1</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> TR2</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> FV</ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox> BLINDO 1</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> BLINDO 2</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> BLINDO 3</ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-button>EXPORT CSV</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICI CORRENTE ( A ) E TENSIONE ( V )</ion-card-title>
              <ion-card-subtitle>Grafici che mostrano la corrente e la tenasione del periodo e degli apparecchi selezionati</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <div *ngIf="data">
                    <pre>{{ data | json }}</pre>
                </div>
                <ion-button (click)="loadData()">Reload Data</ion-button>
                <ion-item>
                  <chart-container></chart-container><p>     TENSIONE</p>
                </ion-item>
                <ion-item>
                  <chart-container></chart-container><p>     CORRENTE</p>
                </ion-item>
            </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO POTENZA ATTIVA ( kW )</ion-card-title>
              <ion-card-subtitle>
                Grafico che mostra la potenza attiva del periodo e degli apparecchi
                selezionati
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-title>GRAFICO POTENZA REATTIVA ( kVA )</ion-card-title>
            <ion-card-subtitle>
              Grafico che mostra la potenza reattiva del periodo e degli apparecchi selezionati
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            GRAFICO
            <ion-img src="../../assets/Cattura.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO POTENZA APPARENTE ( kVar )</ion-card-title>
              <ion-card-subtitle>
                Grafico che mostra la potenza apperente del periodo e degli apparecchi
                selezionati
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO CosFi ( φ )</ion-card-title>
              <ion-card-subtitle>
                Grafico che mostra la ampere del periodo e degli apparecchi
                selezionati
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
