

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
    <ion-grid class="grid">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>MENU</ion-card-title>
              <ion-card-subtitle>Seleziona periodo e dati</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              PULSANTI VARI
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-datetime presentation="date" [multiple]="true" ></ion-datetime>                  </ion-col>
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox> TR1</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> TR2</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> FV</ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                        <ion-col>
                          <ion-list>
                            <ion-item>
                              <ion-checkbox> BLINDO 1</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> BLINDO 2</ion-checkbox>
                            </ion-item>
                            <ion-item>
                              <ion-checkbox> BLINDO 3</ion-checkbox>
                            </ion-item>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-button>EXPORT CSV</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
              
              

            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO KW</ion-card-title>
              <ion-card-subtitle>Grafico che mostra i KW del periodo e degli apparecchi selezionati</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png" ></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO POTENZA ATTIVA</ion-card-title>
              <ion-card-subtitle>Grafico che mostra la potenza attiva del periodo e degli apparecchi
                selezionati</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-card-title>GRAFICO POTENZA REATTIVA</ion-card-title>
            <ion-card-subtitle>Grafico che mostra la potenza reattiva del periodo e degli apparecchi selezionati</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            GRAFICO
            <ion-img src="../../assets/Cattura.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO POTENZA APPARENTE</ion-card-title>
              <ion-card-subtitle>Grafico che mostra la potenza apperente del periodo e degli apparecchi
                selezionati</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>GRAFICO AMPERE</ion-card-title>
              <ion-card-subtitle>Grafico che mostra la ampere del periodo e degli apparecchi
                selezionati</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              GRAFICO
              <ion-img src="../../assets/Cattura.png"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>

  </div>
</ion-content>
